body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95dvh;
    background-color: rgb(77, 17, 218);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    width: 230px;
    height: 250px;
    padding: 20px 0;
    border-radius: 10px;
}
.duration{
    margin-bottom: 10px;
    
}
img{
    border-radius: 5px;
}
.play-buttons{
    display: flex;
    gap: 22px;
    justify-content: center;
}

button{
    background-color: beige;
    border: none;
}
label{
    font-size: 10px;
}

svg:hover{
    fill: blue;
}

